
* {
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  overflow: scroll;
}
body{
  background-image: url(./Image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: fixed;

 
} 

.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.paper{
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-width: 400px;
  padding: 3em;
}

.input {
  padding-bottom: 0.5em;
}

.action {
  padding-top: 1em;
}

h4 {
  color: white;
  text-align: center;
  padding-top: 2em;
}
.outlined-size-small {
  margin: 1opx;
}

#openweathermap-widget-15{
  width: 40px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mytrip-card {
  
  width: 250px;
  height:150px;
  margin: 10px;
  padding-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  
  /* background-image: url(./Image/architectural-photo-of-a-green-and-beige-castle-2446161.jpg); */

}
.weather-container{
 
  background-size: cover;
  background-repeat: no-repeat;
  width: 450px;
  margin-bottom: 20px;
  padding-top: 2em;
  border-radius: 4em;
  width: 100%;
  
}
.crate-trip {
  margin-top: 40px;
 text-align: center;
 color: white;
 font-size: 16px;

}
.trip-card:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
}
.mytrip{
  margin-top: 70px;
  color: white;
  font-size: 14px; 
}
.tripdetail{
  color: white;
  font-size: 16px;
 
}
.autocomplete-place {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 12px ;
}
.create-button {
  margin-top: 30px;
}


